.star-rating {
    display: flex;
    direction: rtl;
    font-size: 2rem;
    justify-content: left;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    color: #ccc;
    font-size: 2rem;
    padding: 0.1rem;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: #f5b301;
}

.container.py-5 {
    max-width: 800px;
}

form {
    background-color: #1f2937;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f3f4f6;
}

.form-label {
    color: #f3f4f6;
}

.form-control {
    background-color: #374151;
    color: #f3f4f6;
    border: 1px solid #4b5563;
}

.form-control:focus {
    border-color: #6b7280;
    outline: none;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
}

.btn-primary {
    background-color: #374151;
    border-color: #27272a;
    color: #e0e0e0;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #4b5563;
    border-color: #27272a;
    color: #ffffff;
    cursor: pointer;
}

.alert-danger {
    background-color: #dc3545;
    color: #ffffff;
    border-color: #bd2130;
}

.alert-success {
    background-color: #28a745;
    color: #ffffff;
    border-color: #218838;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}