body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #f3f4f6;
}

.theater {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #1f2937;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #f3f4f6;
}

.screen {
    background-color: #374151;
    border-radius: 20px;
    height: 30px;
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #f3f4f6;
}

.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #374151;
    border: 1px solid #4b5563;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f3f4f6;
}

.staircase {
    width: 30px;
    height: 40px;
    margin: 0 10px;
    background-color: #1f2937;
    border-radius: 4px;
    display: inline-block;
}

.seat.selected {
    background-color: #10b981;
    color: #ffffff;
}

.seat.booked {
    background-color: #ef4444;
    color: #ffffff;
    pointer-events: none;
    cursor: default; /* Change cursor to indicate it’s not clickable */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #374151;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4b5563;
}

.seat-count {
    margin-top: 15px;
    font-size: 16px;
    color: #d1d5db;
}

.ticket-info label {
    margin-right: 10px;
}

.ticket-info select {
    background-color: #374151;
    color: #f3f4f6;
    border: 1px solid #4b5563;
    margin-right: 20px;
    padding: 5px;
}

.ticket-info p {
    margin-top: 10px;
    color: #d1d5db;
}

.btn-outline-secondary {
    color: #e0e0e0;
    border-color: #4b5563;
    background-color: #09090b;
}

.btn-outline-secondary:hover {
    background-color: #374151;
    color: #ffffff;
}

.btn-primary {
    background-color: #374151;
    border-color: #27272a;
    color: #e0e0e0;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #4b5563;
    border-color: #27272a;
    color: #ffffff;
    cursor: pointer;
}

.btn:disabled {
    background-color: #09090b;
    border-color: #4b5563;
    cursor: not-allowed;
}