:root {
    --primary: #1F2937;
    --secondary: #DC2626;
    --accent: #FCD34D;

    --background: #F3F4F6;
    --surface: #FFFFFF;
    --text: #1F2937;
    --text-light: #6B7280;

    --success: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

